<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Query String</title>
    </head>
    <body>
        <form method="post" action="/result">
            <label><strong>Name</strong></label> <input type="text" name="name" size="30">
            <label><strong>Age</strong></label> <input type="number" name="age" size="30">
            <input type="submit" value="Submit Query">
        </form>
    </body>
</html>